body {
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
}

h1 {
  padding: 15px;
  color: #d6b896;
}

header {
  background-color: #9e120c;
  position: sticky;
  top: 0;
}

main {
  display: flex;
  justify-content: space-between;
}

.transactions,
.sidebar {
  border-right: 2px solid #d6b896;
  padding: 15px;
  background-color: #fff;
}

.transactions {
  width: 65%;
  height: 150vh;
}

.sidebar {
  width: 30%;
  height: 25vh;
  position: sticky;
  top: 69px;
}

table {
  width: 100%;
}

table tr {
  display: grid;
  grid-template-columns: 1fr 0.3fr 0.5fr;
  gap: 50px;
}

table tr th {
  text-align: left;
}

.radio-button {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.radio-button > label {
  margin-left: 5px;
}

.radio-button > label,
.radio-button > input {
  cursor: pointer;
}

.creditcard-filter-submit {
  padding: 5px 10px;
  margin-top: 15px;
  cursor: pointer;
}
